// About me ================================

.about {
  padding: 64px 0 145px;
  @media (max-width: $md2+px) {
    padding: 32px 0 72px;
  }
  &__container {
    display: flex;
  }

  &__photo {
    width: 50%;
    padding-right: 15px;

    position: relative;
    img {
      display: block;
      max-width: 100%;
      height: auto;

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

      @media (max-width: $md1+px) {
        width: 450px;
      }
    }

    @media (max-width: $md2+px) {
      display: none;
    }
  }

  &__content {
    width: 50%;
    padding-left: 15px;
    @media (max-width: $md2+px) {
      width: 100%;
    }
  }
}

.content-about {
  &__btns {
    @media (max-width: $md4+px) {
      button {
        margin-bottom: 10px;
      }
    }
  }
  &__suptile {
    margin-bottom: 15px;

    font-size: 45px;
    font-weight: 700;
    color: #2b2a2c;
    text-transform: uppercase;
    @media (max-width: $md1+px) {
      font-size: 30px;
    }

    @media (max-width: $md4+px) {
      font-size: 20px;
    }
  }

  &__title {
    margin-bottom: 30px;

    font-size: 92px;
    font-weight: 700;
    color: #dedede;
    text-transform: uppercase;
    @media (max-width: $md1+px) {
      font-size: 70px;
    }

    @media (max-width: $md4+px) {
      font-size: 50px;
    }
  }

  &__text {
    margin-bottom: 40px;

    font-size: 12px;
    font-weight: 300;
    color: #717072;
    line-height: 24px;
  }
}
